<header role="banner" class="wrapper--branding">
  <section class="l-branding">
    <a href="https://library.princeton.edu" title="Princeton University Library" rel="home" class="site-logo"><img src="https://library.princeton.edu/sites/all/themes/pul_base/logo.png" alt="Home"></a>
    <h2 class="site-name hidden">Princeton University Library - Illiad</h2>
  </section>
  <div class="wrapper wrapper--navigation">
    <div class="l-region l-region--navigation">
      <a href="#" class="centered-navigation-menu-button">MENU</a>
      <nav id="block-system-main-menu" role="navigation" aria-label="main library navigation" class="block block--system block--menu block--system-main-menu centered-navigation-menu pul-processed">
        <ul class="menu">
          <li class="first expanded">
            <a href="{{ "/" | prepend: site.baseurl }}" title="Find library materials">Technical Services</a>
            <ul class="menu">
              <li class="first leaf">
                <a href="https://dss.princeton.edu">Departmental Information</a>
              </li>
              <li class="leaf">
                <a href="https://library.princeton.edu/research/databases">Divisions</a>
              </li>
              <li class="leaf">
                <a href="https://findingaids.princeton.edu/">ReCAP</a>
              </li>
              <li class="leaf">
                <a href="https://catalog.princeton.edu">Electronic Resources</a>
              </li>
              <li class="leaf">
                <a href="https://libguides.princeton.edu/newspapers">Other Resources</a>
              </li>
            </ul>
          </li>
          <li class="expanded">
            <a href="{{ "/cataloging" | prepend: site.baseurl }}" title="View a list of our libraries and collections">Cataloging</a>
            <ul class="menu">
              <li class="first leaf">
                <a href="{{ "/cataloging/documentation" | prepend: site.baseurl }}">Cataloging</a>
              </li>
              <li class="leaf">
                <a href="https://library.princeton.edu/libraries">Authorities/PCC</a>
              </li>
              <li class="leaf">
                <a href="https://library.princeton.edu/help/recommend-purchase">Physical Treatment</a>
              </li>
              <li class="leaf">
                <a href="https://library.princeton.edu/collections-and-collection-development">Voyager</a>
              </li>
              <li class="leaf">
                <a href="https://library.princeton.edu/collections-and-collection-development">ReCAP</a>
              </li>
              <li class="leaf">
                <a href="https://library.princeton.edu/collections-and-collection-development">Electronic Resources</a>
              </li>
              <li class="leaf">
                <a href="https://library.princeton.edu/collections-and-collection-development">Metadata</a>
              </li>
              <li class="leaf">
                <a href="https://library.princeton.edu/collections-and-collection-development">OCLC</a>
              </li>
              <li class="leaf">
                <a href="https://library.princeton.edu/collections-and-collection-development">Reference</a>
              </li>
              <li class="leaf">
                <a href="https://library.princeton.edu/collections-and-collection-development">Policies/Procedures</a>
              </li>
              <li class="leaf">
                <a href="https://library.princeton.edu/collections-and-collection-development">Team/Special</a>
              </li>
              <li class="last leaf">
                <a href="https://library.princeton.edu/collections-and-collection-development">Outside Links</a>
              </li>
            </ul>
          </li>
          <li class="leaf">
            <a href="https://library.princeton.edu/services" title="View a list of our library services">Circulation</a>
          </li>
          <li class="leaf">
            <a href="https://library.princeton.edu/about" title="Learn more about the library">Order Division</a>
          </li>
          <li class="last leaf">
            <a href="https://library.princeton.edu/help/contact-us" title="Contact the Library">Contact Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>