<nav class="cataloging-documents">
    <ul class="menu">
        <li>Cataloging
        <ul class="sub-menu">
            <li><a href="{{ "/cataloging/documentation/accompanying-material" | prepend: site.baseurl }}">Accompanying material in non-print formats</a></li>
            <li><a href="{{ "/cataloging/documentation/art" | prepend: site.baseurl }}">Art</a></li>
            <li><a href="">Booksets</a></li>
            <li><a href="">Cataloging with Copy</a></li>
            <li><a href="">Classification</a></li>
            <li><a href="">Collection-Level</a></li>
            <li><a href="">Computer Files</a></li>
            <li><a href="">DVDs</a></li>
            <li><a href="">Fascicles</a></li>
            <li><a href="">Microforms &amp; Photocopies</a></li>
            <li><a href="">Recon</a></li>
            <li><a href="">Serials</a></li>
            <li><a href="">Series</a></li>
            <li><a href="">Shelflistings</a></li>
        </ul>
        </li>
        <li>Authorities/PCC
        <ul class="sub-menu">
            <li><a href="">BIBCO</a></li>
            <li><a href="">NACO</a></li>
            <li><a href="">NACO Series</a></li>
            <li><a href="">SACO</a></li>
        </ul>
        </li>
        <li>Physical Treatment</li>
        <li>Voyager</li>
        <li>ReCAP</li>
        <li>Electronic Resources</li>
        <li>Metadata</li>
        <li>OCLC</li>
        <li>Reference</li>
        <li>Policies/Procedures</li>
        <li>Team/Special</li>
        <li>Outside Links</li>
    </ul>
</nav>